.user-profile{
    position: absolute;
    top:20%;
    width: 100%;
}

#time-selector{
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    width: 94%;
}
#time-selector a{
    margin:13px;
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-size: 16px;
    opacity: 80%;
}
.title{
    text-align: center;
    margin-bottom: 15px;
    color: ghostwhite;
    font-size: 23px;
}

.caption{
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.caption p{
    color: rgb(175, 175, 175);
    font-size: 15px;
}

.stats {
    top: 113%;
}

.chart-container {
    position: relative;
    margin: auto;
  }

  .radar{
    height: 60vh;
    width: 100%;
  }

  .popularity{
    width: 55%;
    height:60vh;
    margin-bottom: 30px;
  }

  .artist-title{
        margin: 10px;
  }
