.user-profile{
    position: absolute;
    top:20%;
    width: 100%;
}

#time-selector{
    margin-bottom: 30px;
    display: flex;
    justify-content: flex-end;
    width: 94%;
}
#time-selector a{
    margin:13px;
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-size: 16px;
    opacity: 80%;
}
.title{
    text-align: center;
    margin-bottom: 15px;
    color: ghostwhite;
    font-size: 23px;
}

.chart-container {
    position: relative;
    margin: auto;
}

.radar{
    height: 60vh;
    width: 100%;

}
.popularity{
    width: 55%;
    height:60vh;
    margin-bottom: 80px;
    margin-top: 80px;
}

/* .facts{
    margin-top: 35px;
    color: rgb(175, 175, 175);
    font-size: 14px;
    opacity: 80%;
    display: flex;
    justify-content: center;
} */

.facts{
    margin-top: 15px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.fact{
    color: #1DB954;
    font-size: 18px;
    margin:10px;
}

.g{
    border: 0.5px solid ghostwhite;
    padding: 10px 20px 10px 20px;
}
.g:hover{
    background-color: ghostwhite;
}

.group{
    display: flex;
}

.s{
    margin: 10px 20px 10px 20px;
    color: rgb(175, 175, 175);
}

hr{
    border: 0.5px solid ghostwhite;
    opacity: 0.7;
    margin: 70px 200px 80px 200px;
}

