@font-face {
    font-family: 'Proxima Nova Alt Rg';
    src: url('fonts/ProximaNovaA-Bold.woff2') format('woff2'),
        url('fonts/ProximaNovaA-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Proxima Nova Alt Rg';
}
.link-container h6{
    margin-top:2px;
    color: rgb(175, 175, 175);
    font-size: 10px;
    opacity: 80%;
}
.link-container{
    text-align: center;
}
body{
    background-color: #181818;
}
nav{
    position: fixed;
    width: 100%;
    z-index:2;
    box-shadow: 0px 1px 20px -2px rgb(27, 27, 27);
    background-color: #121212;
}
.links img{
    height: 38px;
    width: 36px;
    border: 0.5px solid ghostwhite;
    border-radius: 5px;
    padding: 8px;
}
.nav-container{
    margin: 20px 20px 0px 20px;
}
.nav-links ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-links ul a{
    margin-right:50px;
    margin-left:50px;
}
.notpage{
    opacity: 0%;
}
.link-container:hover .notpage{
    opacity: 100%;
}
.line{
    margin:auto;
    margin-top:18px;
    height:4px;
    width: 50%;
    background-color:#1DB954;
    vertical-align: bottom;
    text-align:center;
}
@media screen and (max-width: 450px){
    .nav-links ul a{
        margin-right:20px;
        margin-left:20px;
    }
    .line{
        width: 90%;
    }
}