*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: #181818;
}
nav{
    position: fixed;
    width: 100%;
    z-index:2;
    box-shadow: 0px 1px 20px -2px rgb(37, 37, 37);
    background-color: #121212;
    opacity: 70%;
}
.links img{
    height: 38px;
    width: 36px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
}
.nav-container{

    display: flex;
    align-items: center;
    margin: 20px
}


.logo img{
    width: 45px;
    height: auto;
    
}

.nav-links{
    flex:1;
}

.nav-links ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.nav-links ul a{
    text-decoration:none;
    color: white;
    transition: ease-in 0.8s;
    font-size: 15px;
}

