.yur {
    position: absolute;
    top:27%;
    width: 100%;
    text-align: center;
}
.facts{
    margin-top: 35px;
    color: rgb(175, 175, 175);
    font-size: 14px;
    opacity: 80%;
    display: flex;
    justify-content: center;
}
.title{
    color:ghostwhite;
    font-size: 35px;
    margin-bottom: 25px;
}
.group{
    margin: 0px 25px 0px 25px;
}
.fact{
    color: #1DB954;
}
#graph-title{
    text-align: center;
    margin: 100px 0px 50px 0px;
    color:ghostwhite;
}
#graph {
    width: 60%;
    height:60vh;
    margin: 0px auto;
    margin-bottom: 20px;
}
.a {
    margin-bottom: 30px;
}
.ref{
    margin-bottom: 50px;
}
.ref a{
    text-decoration: none;
    color: rgb(175, 175, 175);
    opacity: 80%;
    font-size: 14px;
}