*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif
}

body{
    background-color: #181818;
    color:white;
    display: flex;
    justify-content: center;
}

#title-box{
    position: absolute;
    top:12%;
    text-align: center;
    max-width: 35%;
    height: 55vh;
}

#title-box input {
    margin:60px;
    border: 0px solid transparent;
    padding: 10px 28px 10px 28px;
    border-radius: 25px;
    background-color: #1DB954;
    color:white;
    transition: box-shadow 0.5s ease;
}

#title-box input:hover{
    box-shadow: 0 8px 6px -6px #1DB954;
    cursor: pointer;
}

#title-box h1{
    font-size: 40px;
    margin-bottom: 30px;
}

#title-box .gif img{
    width:340px;
    height: 280px;
}

#title-box img{
    width:80px;
    height:80px;
    margin-bottom: 15px;
}


