@font-face {
    font-family: 'Proxima Nova Th';
    src: url('fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('fonts/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.top{
    position: absolute;
    top: 18%;
    width:100%;
}
.cover img{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.content a{
    text-decoration: none;
    display: flex;
}
.tracks{
    display: flex;
    margin-left: 120px;
    margin-top:30px;
}
a:hover p {
    color: #1DB954;
}
.artists{
    display: flex;
    margin-left: 225px;
    margin-top:30px;
}
h3{
    color: ghostwhite;
    font-size: 20px;
    margin-bottom: 25px;
}
.c h3{
    margin-left: 120px;
}
.a h3{
    margin-left: 225px;
}
.content{
    width:500px;
}
#songs-artists{
    display: flex;
    justify-content: center;
    margin-bottom:30px;
}
#song-artists a{
    text-decoration: none;
}
p{
    color:ghostwhite;
    font-size:15px;
    font-family: 'Proxima Nova Th';
}
#time-selector{
    margin-bottom: 60px;
    display: flex;
    justify-content: flex-end;
    width: 90%;
}
#time-selector a{
    margin:13px;
    text-decoration: none;
    color: rgb(175, 175, 175);
    font-size: 16px;
    opacity: 80%;
}
.song-info{
    margin-top:6px;
}
.name span{
    margin-top:5px;
    color: rgb(175, 175, 175);
    font-size: 12px;
    opacity: 80%;
    font-family: 'Proxima Nova Th';
}
#show-more{
    margin-top: 80px;
    width:100%;
    display: flex;
    justify-content: center;
}
#show-more a{
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    color: ghostwhite;
    border: 0.8px solid ghostwhite;
    border-radius: 200px;
    margin-bottom:50px;
}
@media (max-width: 450px){
    #time-selector{
        margin-right: 50px;
    }
    #show-more{
        margin-left: 60px;
    }
    #songs-artists{
        flex-direction: column;
    }
    .a{
        margin-top: 50px;
    }
    .c h3{
        margin-left: 50px;
    }
    .a h3{
        margin-left: 50px;
    }
    .tracks{
        display: flex;
        margin-top:30px;
        margin-left: 50px;
    }
    .artists{
        display: flex;
        margin-top:30px;
        margin-left: 50px;
    }
}