@font-face {
    font-family: 'Proxima Nova Th';
    src: url('fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('fonts/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.top{
    position: absolute;
    top: 20%;
}
.cover img{
    width: 65px;
    height: 65px;
    margin-right: 20px;
}

.tracks{
    display: flex;
    margin-top:30px;
}


.artists{
    display: flex;
    margin-left: 230px;
    margin-top:30px;
    
}

h3{
    color: ghostwhite;
    font-size: 20px;
    margin-bottom: 25px;
}

.a h3{
    margin-left: 230px;
}
.content{
    width:460px;
}

/*
.a{
    background-color: hotpink;
}

.c{
    background-color: green;
}
*/

#songs-artists{
    display: flex;
    justify-content: center;
}

.top{
    width:100%;
}

p{
    color:ghostwhite;
    font-size:15px;
    font-family: 'Proxima Nova Th';
}
