@font-face {
    font-family: 'Proxima Nova Th';
    src: url('fonts/ProximaNovaT-Thin.woff2') format('woff2'),
        url('fonts/ProximaNovaT-Thin.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.top{
    position: absolute;
    top: 28%;
    width:100%;
}
.cover img{
    width: 70px;
    height: 70px;
    margin-right: 20px;
}
.tracks{
    display: flex;
    margin-left: 120px;
    margin-top:30px;
}
.artists{
    display: flex;
    margin-left: 225px;
    margin-top:30px;
}
h3{
    color: ghostwhite;
    font-size: 20px;
    margin-bottom: 25px;
}
.c h3{
    margin-left: 120px;
}
.a h3{
    margin-left: 225px;
}
.content{
    width:500px;
}
#songs-artists{
    display: flex;
    justify-content: center;
    margin-bottom:30px;
}
#song-artists a{
    text-decoration: none;
}
#songs-artists img:hover{
    opacity: 50%;
}
p{
    color:ghostwhite;
    font-size:15px;
    font-family: 'Proxima Nova Th';
}
.song-info{
    margin-top:6px;
}
.name span{
    margin-top:5px;
    color: rgb(175, 175, 175);
    font-size: 12px;
    opacity: 80%;
    font-family: 'Proxima Nova Th';
}