{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/analytics.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"> </script>
    <script src="{{ url_for('static', filename='js/graphs.js')}}"></script>
{% endblock %}

{% block nav %}
    <script>document.getElementById('analytics').className = 'line'</script>
{% endblock %}

{% block content %}
    <div class="user-profile">

        <div id="time-selector">
            <a href="/change-time/short_termA"><h4 id="short">Recent</h4></a>
            <a href="/change-time/medium_termA"><h4 id="medium">6 Months</h4></a>
            <a href="/change-time/long_termA"><h4 id="long">All Time</h4></a>
    
            {% if time == "short_term" %}
                <style>#short{color: #1DB954}</style>
            {% elif time == "medium_term" %}
                <style>#medium{color: #1DB954}</style>
            {% else %}
                <style>#long{color: #1DB954}</style>
            {% endif %}
        </div>
        
        <h3 class='title'>{{name}}'s Listening Habits</h3>

        <div class="chart-container radar">
            <canvas id="radarChart"></canvas>
        </div>

        <div class="caption">
            <p>Going through your most listened to tracks, this graph depicts what you fond most when vibing out to music</p>
            <p>We also compared the most popular songs throughout the decades with your music taste. Scroll below to see more stats 👀</p>
        </div>

    </div>

 
    <div class="user-profile stats">

        <div class="chart-container doughnut">
            <canvas id="popularGraph"></canvas>
        </div>

    </div>



    <script>
        radar_graph( {{user_avg_features|safe}}, {{top_avg_features|safe}} );
        bar_graph( {{pop_labels|safe}}, {{pop_data|safe}}, "popularGraph", 10, 10, 100);
    </script>
{% endblock %}


