<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href= "{{ url_for('static', filename='photos/spotifylogo.png')}}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/base.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diversify</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <div class="nav-container">
            <div class="nav-links">
                <ul>
                    <div class="link-container">
                        <li><a href="/profile" class="links"><img title="Profile" src="{{ url_for('static', filename='photos/profile.png')}}"></a></li>
                        <h6>Profile</h6>    
                        <div id="prof" class="line notpage"></div>
                    </div>
                    <div class="link-container">
                        <li><a href="/music" class="links"><img title="My Music" src="{{ url_for('static', filename='photos/mymusiclogo.png')}}"></a></li>
                        <h6>My Music</h6> 
                        <div id="music" class="line notpage" ></div>
                    </div>
                    <div class="link-container">
                        <li><a href="/analytics" class="links"><img title="Analytics" src="{{ url_for('static', filename='photos/analytics.png')}}"></a></li>
                        <h6>Analytics</h6> 
                        <div id="analytics" class="line notpage"></div>
                    </div>
                    <div class="link-container">
                        <li><a href="/new" class="links"><img title="New Music" src="{{ url_for('static', filename='photos/new.png')}}"></a></li>
                        <h6>Recommendations</h6> 
                        <div id="new" class="line notpage" ></div>
                    </div>   
                    {% block nav %} {% endblock %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %} {% endblock %}
</body>
</html>
