<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/home.css')}}">
    <link rel="icon" href= "{{ url_for('static', filename='photos/spotifylogo.png')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diversify</title>
</head>
<body>
    
    <nav>

        <div class="nav-container">
<!--
            <div class="logo">

                <a href="index.html"><img src="{{ url_for('static', filename='photos/spotifylogo.png')}}"></a>

            </div>
        -->
            <div class="nav-links">

                <ul>

                    <li><a href="#more-info" class="links"><img title="My Music" src="{{ url_for('static', filename='photos/mymusiclogo.png')}}"></a></li>
                    <li><a href="#more-info" class="links"><img title="Analytics" src="{{ url_for('static', filename='photos/analytics.png')}}"></a></li>
                    <li><a href="#more-info" class="links"><img title="New Songs" src="{{ url_for('static', filename='photos/new.png')}}"></a></li>
                    <li><a href="#more-info" class="links"><img title="Check It Out!" src="{{ url_for('static', filename='photos/github.png')}}"></a></li>


                </ul>

            </div>

        </div>

    </nav>
    
</body>
</html>