<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/main.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diversify - Login</title>
</head>
<body>

    <h1>Welcome to Diversify</h1>

    <a href="https://accounts.spotify.com/authorize?client_id=88bb7350722b4d3898b677e75a9a3d75&response_type=code&redirect_uri=http%3A%2F%2Flocalhost%3A9000%2Fredirect%2F&scope=playlist-modify-private+user-top-read">Login with Spotify</a>
    
</body>
</html>