<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/main.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diversify - Login</title>
</head>
<body>

    <h1>Welcome to Diversify</h1>
    <a href="https://accounts.spotify.com/login?continue=https%3A%2F%2Faccounts.spotify.com%2Fauthorize%3Fscope%3Duser-top-read%26response_type%3Dcode%26redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A9000%252Fredirect%252F%26client_id%3D58023d39e03146ae8b95a3443638037c">Login with Spotify</a>
    
</body>
</html>