{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/info.css')}}">
{% endblock %}

{% block nav %}
    <script>document.getElementById('music').className = 'line'</script>
{% endblock %}


{% block content %}

    <div class="yur">

        {% if type == "track" %}
            <iframe src="https://open.spotify.com/embed/track/{{id}}" width="300" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            
            <div class="facts">
                <div class="group">
                    <h3 class='fact'>{{p}}%</h3>
                    <h3>Popularity</h3>
    
                </div>
            </div>

            <div id="graph-title">
                <h1>Audio Analysis</h1>
            </div>

            <div id="graph">

                <canvas id="myChart" width="45vw" height="25w"></canvas>

            </div>
        
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script src="{{ url_for('static', filename='js/graphs.js')}}"></script>
            <script>

                create_graph( {{data|safe}} );

            </script>

        {% else %}
            <h3 class="title" >{{n}}</h3>
            <img src="{{i}}" width="280" height="280"/>

            <div class="facts">

                <div class="group">
                    <h3 class='fact'>{{p}}%</h3>
                    <h3>Popularity</h3>
                </div>

                <div class="group">
                    {% for genre in g %}    
                        <h3 class='fact'>{{genre}}</h3>
                    {% endfor %}

                    <h3>Genres</h3>
                </div>

                <div class="group">
                    <h3 class='fact'>{{f}}</h3>
                    <h3>Followers</h3>
                </div>
            </div>

        {% endif %}

    </div>


{% endblock %}