{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/info.css')}}">
{% endblock %}

{% block nav %}
    <script>document.getElementById('music').className = 'line'</script>
{% endblock %}


{% block content %}

    <div class="yur">

        {% if type == "track" %}
            <iframe src="https://open.spotify.com/embed/track/{{id}}" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            
            <div class="facts">
                <div class="group">
                    <h3 class='fact'>{{p}}%</h3>
                    <h3>Popularity</h3>
    
                </div>
            </div>

            <div id="graph-title">
                <h1>Audio Analysis</h1>
            </div>

            <div id="graph">

                <canvas id="myChart" width="55vw" height="35w"></canvas>

            </div>
        
            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script>

                var ctx = document.getElementById('myChart').getContext('2d');
                var chart = new Chart(ctx, {
                    // The type of chart we want to create
                    type: 'bar',

                    // The data for our dataset
                    data: {
                        labels: ['Danceability', 'Energy', 'Acousticness', 'Liveness', 'Speechiness', 'Valence'],
                        datasets: [{
                            backgroundColor: 'rgb(255, 99, 132)',
                            borderColor: 'rgb(255, 99, 132)',
                            data: [{{d|safe}}, {{e|safe}}, {{v|safe}}, {{l|safe}}, {{s|safe}}, {{v|safe}}]
                        }]
                    },

                    // Configuration options go here
                    options: {
                        legend: {
                            display: false
                        },
                        tooltips: {
                            callbacks: {
                            label: function(tooltipItem) {
                                    return tooltipItem.yLabel;
                            }
                            }
                        }
                    }
                });


            </script>

        {% else %}
            <h3 class="title" >{{n}}</h3>
            <img src="{{i}}" width="280" height="280"/>

            <div class="facts">

                <div class="group">
                    <h3 class='fact'>{{p}}%</h3>
                    <h3>Popularity</h3>
                </div>

                <div class="group">
                    {% for genre in g %}    
                        <h3 class='fact'>{{genre}}</h3>
                    {% endfor %}

                    <h3>Genres</h3>
                </div>

                <div class="group">
                    <h3 class='fact'>{{f}}</h3>
                    <h3>Followers</h3>
                </div>
            </div>

        {% endif %}

    </div>


{% endblock %}