{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/info.css')}}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="{{ url_for('static', filename='js/graphs.js')}}"></script>
{% endblock %}

{% block nav %}
    <script>document.getElementById('music').className = 'line'</script>
{% endblock %}

{% block content %}
    <div class="yur">
        {% if type == "track" %}
            <iframe src="https://open.spotify.com/embed/track/{{id}}" width="300" height="350" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
            <div class="facts">
                <div class="group">
                    <h3 class='fact'>{{p}}%</h3>
                    <h3>Popularity</h3>
                </div>
                <div class="group">
                    <h3 class='fact'>{{t}}</h3>
                    <h3>Tempo (BPM)</h3>
                </div>
                <div class="group">
                    <h3 class='fact'>{{l}}</h3>
                    <h3>Loudness (-dB)</h3>
                </div>
            </div>
            <h3 class="title">Audio Analysis</h3>
            <div class="graph">
                <canvas id="myChart"></canvas>
            </div>
            <h3 class="ref"><a href="https://developer.spotify.com/documentation/web-api/reference/#object-audiofeaturesobject">Full Description of Audio Features</a></h3>
            {% if allowed %}
                <div class="sentiment">
                    <h3 class="title" >Lyrical Analysis</h3>
                    <div class="graph">
                        <canvas id="doughnut"></canvas>
                    </div>
                    <div class="group">
                        <h3 class='fact'>{{overall}}</h3>
                        <h3>Overall Sentiment</h3>
                    </div>
                    <p> {{lyrics |safe}} </p>
                </div>
            {% endif %}
        {% else %}
            <h3 class="title artist-title" >{{n}}</h3>
            <img src="{{i}}" width="280" height="280"/>
            <div class="facts a">
                <div class="group">
                    <h3 class='fact'>{{p}}%</h3>
                    <h3>Popularity</h3>
                </div>
                <div class="group">
                    {% for genre in g %}    
                        <h3 class='fact'>{{genre}}</h3>
                    {% endfor %}
                    <h3>Genres</h3>
                </div>
                <div class="group">
                    <h3 class='fact'>{{f}}</h3>
                    <h3>Followers</h3>
                </div>
            </div>
        {% endif %}
        <script>
            bar_graph( {{labels|safe}}, {{data|safe}} );
        </script>
        {% if allowed %}
            <script>
                doughnut_graph( {{positive|safe}}, {{negative|safe}}, {{neutral|safe}}, "doughnut" );
            </script>
        {% endif %}
    </div>
{% endblock %}