<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href= "{{ url_for('static', filename='css/login.css')}}">
        <link rel="icon" href= "{{ url_for('static', filename='photos/spotifylogo.png')}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Diversify - Login</title>
        <!-- Hotjar Tracking Code for https://diversify-application.herokuapp.com -->
        <script>
            (function(h,o,t,j,a,r){
                h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
                h._hjSettings={hjid:2335955,hjsv:6};
                a=o.getElementsByTagName('head')[0];
                r=o.createElement('script');r.async=1;
                r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
                a.appendChild(r);
            })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
        </script>
    </head>
    <body>
        <div id="title-box">        
            <div id="logo">
                <img src="{{ url_for('static', filename='photos/spotifylogo.png')}}">
            </div>
            <div id="title">
                <h1>Diversify</h1>
            </div>
            <div class="gif">
                <img src="{{ url_for('static', filename='photos/play.gif')}}">
            </div>
            <div id="login">
                <input type="button" onclick="location.href='{{url}}';" value="Login with Spotify" />
            </div>
            <div class="creds">
                <a href="https://github.com/parth-p29/Diversify">💻 by Parth Patel</a>
            </div>
        </div>
    </body>
</html>