<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href= "{{ url_for('static', filename='photos/spotifylogo.png')}}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/music.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diversify</title>
</head>
<body>

    
    <nav>

        <div class="nav-container">

            <div class="nav-links">

                <ul>
                    <div class="link-container">
                        <li><a href="/profile" class="links"><img title="Profile" src="{{ url_for('static', filename='photos/profile.png')}}"></a></li>
                        <div class="line notpage"></div>
                    </div>

                    <div class="link-container">
                        <li><a href="/music" class="links"><img title="My Music" src="{{ url_for('static', filename='photos/mymusiclogo.png')}}"></a></li>
                        <div class="line" ></div>
                    </div>

                    <div class="link-container">
                        <li><a href="/analytics" class="links"><img title="Analytics" src="{{ url_for('static', filename='photos/analytics.png')}}"></a></li>
                        <div class="line notpage"></div>
                    </div>
                    
                    <div class="link-container">
                        <li><a href="/new" class="links"><img title="New Music" src="{{ url_for('static', filename='photos/new.png')}}"></a></li>
                        <div class="line notpage" ></div>
                    </div>


                </ul>

            </div>

        </div>

    </nav>

    <div class="top">

        <div id="time-selector">

            <a href="/change-time/short_term"><h4>Recent</h4></a>
            <a href="/change-time/medium_term"><h4>6 Months</h4></a>
            <a href="/change-time/long_term"><h4>All Time</h4></a>


        </div>

        <div id="songs-artists">

            <div class="content c">

                <h3>Top Tracks</h3>

                {% for song, s_cover in zip(songs, song_covers) %}
                    <div class="tracks">
                        <div class="cover">
                            <img src="{{s_cover}}"/>
                        </div>
                        
                        <div class="name">
                            <p>{{song}}</p>
                        </div>
                    </div>
                {%endfor%}
    
            </div>

            <div class="content a">

                <h3>Top Artists</h3>

                {% for artist, a_cover in zip(artists, artist_covers) %}
                <div class="artists">
                    <div class="cover">
                        <img src="{{a_cover}}"/>
                    </div>
                    
                    <div class="name">
                        <p>{{artist}}</p>
                    </div>
                </div>
                {%endfor%}
    
            </div>

        </div>

    </div>

    
</body>
</html>