{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href= "{{ url_for('static', filename='css/profile.css')}}">
{% endblock %}

{% block nav %}
    <script>document.getElementById('prof').className = "line"</script>
{% endblock %}

{% block content %}
    <main>
        <div id="profile">
            <h1>{{username}}</h1>
            {% if pic == None %}
            <img src="{{url_for('static', filename='photos/defaultpic.png')}}"/>
            {% else %}
            <img src="{{pic}}"/>
            {% endif %}
            <div id="user-info">
                <div class="info">
                    <h5>{{followers}}</h5>
                    <h6>FOLLOWERS</h6>
                </div>
                <div class="info">
                    <h5>{{follows}}</h5>
                    <h6>FOLLOWING</h6>
                </div>
                <div class="info">
                    <h5>{{playlists}}</h5>
                    <h6>PLAYLISTS</h6>
                </div>
            </div>
        </div>
        <div id="logout">
            <a href="/">Logout</a>
        </div>
    </main>
{% endblock %}